.colorband{
    position: relative;
    margin-block:var(--gc-margin-vertical);

    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 200vw;
        height: 100%;
        left: -50vw;
        z-index: -1;
        top:0;
    }

    &.colorband--grey{
        &:before{
            background: var(--gc-color-earth-clay);
        }
    }

    &.colorband--black{
        color:white;
        
        &:before{
            background-color:black;
        }

        h1,h2,h3,h4{
            color: var(--gc-color-earth-clay);
        }
    }

    &.colorband--green{
        &:before{
            background: var(--ifm-color-primary);
        }
    }

    .container{
        .row{
            padding-block:var(--gc-padding-vertical);
        }
    }

}