  /* VARIABLES */
:root{
  --ifm-navbar-background-color: transparent;
  --ifm-navbar-link-color: var(--gc-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary);
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-vertical: 0;
}

nav{
  padding:0;
}

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.navbar__inner{
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);

  @media (min-width: 1440px) {
    max-width: var(--ifm-container-width-xl);
  }
}